<!DOCTYPE html>
<html>
<title>uke hero</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<script src="js/test.js" type="text/javascript"></script>
<script src="js/Tone.js" type="text/javascript"></script>
<script src="js/p5/p5.js" type="text/javascript"></script>
<script src="js/p5/p5.dom.js" type="text/javascript"></script>
<script src="js/p5/p5.serialport.js" type="text/javascript"></script>
<!-- midi.js -->
<script src="js/inc/shim/Base64.js" type="text/javascript"></script>
<script src="js/inc/shim/Base64binary.js" type="text/javascript"></script>
<script src="js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
<!-- midi.js package -->
<script src="/js/midi/audioDetect.js" type="text/javascript"></script>
<script src="/js/midi/gm.js" type="text/javascript"></script>
<script src="/js/midi/loader.js" type="text/javascript"></script>
<script src="/js/midi/plugin.audiotag.js" type="text/javascript"></script>
<script src="/js/midi/plugin.webaudio.js" type="text/javascript"></script>
<script src="/js/midi/plugin.webmidi.js" type="text/javascript"></script>
<!-- utils -->
<script src="/js/util/dom_request_xhr.js" type="text/javascript"></script>
<script src="/js/util/dom_request_script.js" type="text/javascript"></script>
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-color: black;
    /* background-image: url("/img/uke_cover.JPG"); */
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href="#takeaways" class="w3-button w3-block w3-black">TAKEAWAYS</a>
    </div>
    <div class="w3-col s3">
      <a href="#contact" class="w3-button w3-block w3-black">CONTACT</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">uke hero</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT</span></h5>
    <div class="w3-center">
      <img src="img/uke_cover.JPG" style="width:100%;max-width:400px" class="w3-margin-top">
    </div>
    <p><strong>Made by:</strong> Victoria Cabales</p>
    <p><strong>For:</strong> EECS 397 Digital Luthier, Northwestern University, Professor Bryan Pardo</p>
    <p style="text-align:justify">The idea behind <span class="w3-tag">UKE HERO</span> was to create a low barrier to entry instrument that would help anyone play simple harmonies, regardless of musical background. As of right now, the user can play six customizable chords by pressing down on the buttons. The project was very much inspired by Guitar Hero and <a href="http://cigarboxguitars.com/" target="blank">the cigar box guitar</a>. Check out the video for more info!</p>
    <div class="w3-center">
      <video width="400" controls>
        <source src="video/digital_luthier.mov">
        Your browser does not support HTML5 video.
      </video>
    </div>
  </div>
</div>


<!-- Takeaways Container -->
<div class="w3-container" id="takeaways">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">TAKEAWAYS</span></h5>
    <p style="text-align: justify">Although the project is still far from where I want it to be, I can definitely say that I learned a lot from working on it (especially about sawing, sanding, and drilling wood - something I never expected to get out of an EECS class). Here's a bit about what went into the project:</p>
    <p><span class="w3-tag">HARDWARE</span></p>
    <ul>
      <li>Arduino Uno Microcontroller</li>
      <li>6 10K Ohm Resistors</li>
      <li>6 Push Buttons </li>
      <li><a href="https://www.sparkfun.com/products/13162">Sparkfun ZX Distance and Gesture Sensor</a></li>
      <li>Lots of wires</li>
      <li>More solder than I would have liked to apply</li>
      <li>Duct tape!</li>
    </ul>
    <div class="w3-center">
      <img src="img/wiring.JPG" style="width:100%;max-width:400px" class="w3-margin-top">
      <p style="font-size:15px">Peep the messy wires that are hidden in the box.</p>
    </div>
    <p style="text-align: justify"><strong>Lessons learned:</strong> 1) Duct tape is a wonderful invention. 2) The less sensors you have in your hardware project, the more manageable it will be. I also wish I used soft pots to represent strings instead of the gesture sensor. The pots could simulate frets and give the user more control over the pitches they played. My idea behind using the gesture sensor was to simulate a strumming motion, but it turns out that strumming air isn't as fun as strumming physical strings. I also originally soldered the gesture sensor incorrectly, but Nathan Shelly kindly taught me how to desolder, and I was very grateful for that. ʕノ•ᴥ•ʔノ ︵ ┻━┻</p>
    <p><span class="w3-tag">CODE</span></p>
    <p style="text-align: justify">This section focuses mostly on Max and a few cool things I learned about serial communication through Node. If you want to check out the C code for the Arduino, feel free to view the simple script I have on <a href="https://github.com/vcabales/uke_hero/blob/master/arduino/uke_hero.ino" target="blank">Github</a>. Fair warning, though, the code still needs to be cleaned up.</p>
    <p style="font-size:20px"><strong><i><u>Max</u></i></strong></p>
    <p style="text-align: justify">The messy Max patch pictured below reads in on and off signals sent from the buttons through the serial port. It doesn't currently read in data from the gesture sensor, although it's definitely capable of doing so. All you need to do is unpack two more values for the sensor's x- and z-coordinates. You can customize the chords you play by adjusting the base note of each chord. In the image, that's the 0 number object next to the +4, +7, and +12. When I started the course, I didn't even know that Max was a thing, but it turns out that it's a pretty powerful tool to build music software. I honestly barely know the basics, and I find that there's a bit of a learning curve to this deceptively simple program. I will happily take recommendations on how to improve this Max patch. Also, shoutout to Khoa Truong for helping me with all my Max issues and to Julia Wilkins for giving me advice! ｡^‿^｡</p>
    <div class="w3-center">
      <img src="img/max_patch.png" style="width:700px">
    </div>
    <p style="font-size:20px"><strong><i><u>SerialPort in Node</u></i></strong></p>
    <p style="text-align:justify">To appease my own curiosity, I wanted to explore reading from the serial port in JavaScript. It turns out that there's a great resource for this called <a href="https://node-serialport.github.io/node-serialport/" target="blank">Node Serialport</a>! I originally tried to use p5's serial port reader, but I unfortunately ran into quite a few errors when trying to install it through npm.</a></p>
    <p style="text-align:justify">Through Node, I printed out the data that was streamed in from the serial port. Prior to decoding it, the data looked like this: </p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p>	&lt;Buffer 00 00 00 00&gt; <br/> &lt;Buffer 00 00 00 00&gt;</p>
    </div>
    <p style="text-align:justify">I initially didn't know what to do with this data, and started looking into different parsers that the SerialPort API mentioned. However, it turns out that decoding the buffer is as simple as calling the <span class="w3-light-grey"><i>toString()</i></span> function in JavaScript. </p>
    <p style="text-align:justify">Once I got a consistent stream of readable data going, I realized that I probably needed a WebSocket to receive the data on the client side and interact with it. I don't currently have time to implement this, but it would be an interesting side project in the future. I also got to learn a few cool things about how data from your serial port can interact with your browser, which was pretty fun to look into. Here's the code to read from your serial port in JavaScript if you want to try it out: </p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p>//List all available ports</p>
      <p>	SerialPort.list(function (err,results) { <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (err) <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;throw err; <br />
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(results); <br />
    });</p>
    <p>//Connect to serial port</p>
    <p>var port = new SerialPort('/dev/tty.usbmodem1411',{baudRate: 9600}, <br />(err) => { <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (err) <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('Error', err.message); <br />
    });</p>
    <p>//Read in data</p>
    <p>port.on('data', (data,err) { <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log(data.toString()); <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (err) <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;console.log('Error', err.message); <br />
    });</p>
    </div>
    <p><span class="w3-tag">SOME REACH GOALS</span></p>
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="contact">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center" style="padding-top: 64px"><span class="w3-tag w3-wide">CONTACT</span></h5>
      <p style="font-size:20px; text-align: justify">Thanks for reading, and feel free to let me know if you have any questions! :)</p>
      <div class="w3-center">
        <a href="mailto:victoriacabales2019@u.northwestern.edu" target="blank"><img src="img/email.png" style="width:40px; padding-right:5px; padding-bottom:100px"></a>
        <a href="https://github.com/vcabales/uke_hero" target="blank"><img src="img/github.png" style="width:40px; padding-left:5px; padding-bottom:100px"></a>
      </div>
  </div>
</div>

<!-- End page content -->
</div>


</body>
</html>
